<!DOCTYPE html>
<html lang="ko" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글Ajax</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container w-50">
    <header class="mb-3">
        <div class="mb-5">
            <a class="btn btn-secondary btn-sm" th:href="@{/boards}">이전</a>
        </div>
        <h5 class="d-flex justify-content-start" th:text="${board.title}">제목</h5>
        <span style="font-size: 0.8rem" th:text="${board.writer}">작성자</span>
        <div class="border"></div>
    </header>
    <main>
        <div>
            <p class="mb-lg-5" th:text="${board.contents}">게시글 내용</p>

            <!-- 좋아요 -->
            <div class="d-flex justify-content-end">
                <button class="btn btn-sm">
                    <i id="heartClick" class="bi bi-hand-thumbs-up"></i>
                </button>
                <span id="heartNum" style="font-size: 0.8rem" th:text="${board.heartNum}"></span>
            </div>

            <div class="border"></div>
            <!-- 댓글 입력창 -->
            <form id="commentInput" class="mb-3">
                <div class="mb-3">
                    <label style="font-size: 0.8rem" for="writer" class="form-label" th:text="#{label.writer}"></label>
                    <input id="writer" class="form-control" type="text">
                </div>
                <div class="mb-3">
                    <label style="font-size: 0.8rem" for="contents" class="form-label" th:text="#{label.contents}"></label>
                    <textarea id="contents" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm d-flex justify-content-start" th:text="#{label.submit}">제출</button>
            </form>

            <!-- 댓글 삽입 Div -->
            <div id="commentResultDiv">
                <div id="commentSpinner" class="spinner-border d-flex justify-content-center " role="status"></div>
            </div>
            <!-- 댓글 출력칸 -->
        </div>
    </main>

    <!-- JavaScript -->
    <script th:inline="javascript">
        function creatReplyInput(commentId) {
            const replyInput = `
                    <form id='postReply${commentId}'>
                        <input id='commentIdInput' class='visually-hidden' value='${commentId}'>
                        <div class='mb-3'>
                            <label style='font-size: 0.8rem' for='writer' class='form-label'>작성자</label>
                            <input id='writer' class='form-control' type='text'>
                        </div>
                        <div class='mb-3'>
                            <label style='font-size: 0.8rem' for='contents' class='form-label'>내용</label>
                            <textarea id='contents' class='form-control' rows='3'></textarea>
                        </div>
                        <button type='submit' onclick='replyComment(${commentId})' class='btn btn-primary btn-sm d-flex justify-content-start'>제출</button>
                        <button type='button' onclick='removeReplyInput(${commentId})' class='mb-2 btn btn-secondary btn-sm d-flex justify-content-start'>취소</button>
                    </form>`;
            $("#ReplyInputDiv" + commentId).replaceWith(replyInput);
        }
        function removeReplyInput(commentId) {
            $("#postReply" + commentId).replaceWith("<div id='ReplyInputDiv" + commentId + "'></div>");
        }

        // 답글 ajax javascript
        function replyComment(parentId) {
            $(document).on('submit', "#postReply" + parentId, function (event) {
                const boardId = [[${boardId}]];
                const writer = $("#writer", this).val();
                const contents = $("#contents", this).val();
                $("#writer", this).val("");
                $("#contents", this).val("");
                event.preventDefault();
                $.ajax({
                    url: '/comment/reply',
                    type: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify({
                        commentId: parentId,
                        boardId: boardId,
                        writer: writer,
                        contents: contents
                    }),
                    success: function (result) {
                        if (result.status.match("CREATED")) {
                            removeReplyInput(parentId);
                            $("#ReplyResultDiv" + parentId).prepend(
                                createReply(result.data.commentId,result.data.writer,result.data.content)
                            );
                        } else {
                            alert("fail" + result.message);
                        }
                    },
                    error: function () {
                        alert("fail!");
                    }
                });
            });
        }

        function removeComment(commentId) {
            $.ajax({
                url: "/comment",
                type: "delete",
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(commentId),
                success: function (result) {
                    if (result.status.match("ACCEPTED")) {
                        $('#comment' + commentId).remove();
                    } else {
                        alert("fail! = " + result.status);
                    }
                },
                error: function () {
                    alert("fail!");
                }
            });
        }
    </script>

    <script th:inline="javascript">
        let hasNext = false;
        let page = 0;
        const boardId = [[${boardId}]];

        function getReply(commentId, page){
            $.get("/comment/reply",{commentId: commentId, page : page})
                .done(function (result){
                    if(page === 0){
                        $("#replyGetBtn" + commentId)
                            .removeAttr("id").removeAttr("onclick")
                            .attr("type","button").attr("data-bs-toggle","collapse")
                            .attr("data-bs-target","#ReplyResultDiv" + commentId)

                        $("#ReplyResultDiv" + commentId).addClass("collapse").addClass("show")
                    }

                    $.each(result.data.childList,function (index,child){
                        $("#ReplyResultDiv" + commentId).append(
                            createReply(child.commentId,child.writer,child.contents,child.childNum)
                        )
                    })

                    if(result.data.hasNext){
                        const moreReplyBtn = `
                        <button id='moreReplyBtn${commentId}' class="btn" onClick='getReply(${commentId},${result.data.page + 1})'>
                            <i class='bi bi-arrow-return-right text-primary'></i>
                            <span class="text-primary">답글 더보기</span>
                        </button>
                        `
                        $("#ReplyResultDiv" + commentId).append(moreReplyBtn)
                    } else{
                       $("#moreReplyBtn" + commentId).remove()
                    }
                })
                .fail(function (error){
                    alert("getReply Fail!" + JSON.stringify(error))
                })
        }

        function createComment(commentId, writer, content, childNum) {
            const comment = `
                <div id="comment${commentId}">
                    <div class='border'></div>
                    <nav aria-label='breadcrumb'>
                        <ol class='breadcrumb'>
                            <li class='breadcrumb-item'>
                                <b style='font-size: 0.8rem'>${writer}</b>
                            </li>
                            <li class='breadcrumb-item'>
                                <a class='link-light'>
                                    <b onclick='creatReplyInput(${commentId})' style='font-size: 0.8rem'>답장</b>
                                </a>
                            </li>
                            <li class='breadcrumb-item'>
                                <a class='link-light'>
                                    <b onclick="removeComment(${commentId})" style='font-size: 0.8rem'>삭제</b>
                                </a>
                            </li>
                        </ol>
                    </nav>
                    <p>${content}</p>
                    <div id="ReplyInputDiv${commentId}"></div>
                    ${childNum > 0 ? `
                        <button id='replyGetBtn${commentId}' class="btn" onclick='getReply(${commentId},0)'>
                            <i class='bi bi-arrow-return-right text-primary'></i>
                            <span class="text-primary">답글 ${childNum}개 더보기</span>
                        </button>
                    ` : ''
                    }
                    <div id='ReplyResultDiv${commentId}'></div>
                </div>`;

            return comment;
        }

        function createReply(commentId, writer, content, childNum){
            const reply = `
                                    <div id='comment${commentId}' class='ms-3'>
                                        <div class='border'></div>
                                        <nav aria-label='breadcrumb'>
                                            <ol class='breadcrumb'>
                                                <li class='breadcrumb-item'>
                                                    <i class='bi bi-arrow-return-right'></i>
                                                    <b style='font-size: 0.8rem'>${writer}</b>
                                                </li>
                                                <li class='breadcrumb-item'>
                                                    <a class='link-light'>
                                                        <b onclick='creatReplyInput(${commentId})' style='font-size: 0.8rem'>답글</b>
                                                    </a>
                                                </li>
                                                <li class='breadcrumb-item'>
                                                    <a class='link-light'>
                                                        <b onclick='removeComment(${commentId})' style='font-size: 0.8rem'>삭제</b>
                                                    </a>
                                                </li>
                                            </ol>
                                        </nav>
                                        <p>${content}</p>
                                        <div id='ReplyInputDiv${commentId}'></div>
                                        ${childNum > 0 ? `
                                        <button id='replyGetBtn${commentId}' class="btn" onclick='getReply(${commentId},0)'>
                                            <i class='bi bi-arrow-return-right text-primary'></i>
                                            <span class="text-primary">답글 ${childNum}개 더보기</span>
                                        </button>
                                        ` : ''}
                                        <div id='ReplyResultDiv${commentId}'></div>
                                    </div>`;
            return reply;
        }

        $(document).ready(function () {
            $(document).on('submit', "#commentInput", function (event) {
                const writer = $("#writer", this).val();
                const contents = $("#contents", this).val();
                $("#writer", this).val(""); // 작성자 입력칸 초기화
                $("#contents", this).val(""); // 내용 입력칸 초기화
                event.preventDefault();
                $.ajax({
                    url: '/comment',
                    type: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify({
                        boardId: boardId,
                        writer: writer,
                        contents: contents
                    }),
                    success: function (result) {
                        if (result.status.match("CREATED")) {
                            $("#commentResultDiv").prepend(
                                createComment(result.data.commentId,result.data.writer,result.data.content)
                            );
                        } else {
                            alert("fail! " + result.message);
                        }
                    },
                    error: function () {
                        alert("fail!");
                    }
                });
            });
        });
        // 좋아요 ajax javascript
        $(document).on('click',"#heartClick",function (event){
            event.preventDefault();
            $.ajax({
                url:'/heart',
                type:'post',
                contentType:'application/json',
                dataType:'json',
                data:JSON.stringify({
                    boardId:boardId
                }),
                success:function (result){
                    if(result.status.match("CREATED")){
                        $("#heartClick")
                            .removeAttr("id")
                            .removeClass("bi bi-hand-thumbs-up")
                            .addClass("bi bi-hand-thumbs-up-fill");

                        $("#heartNum").text(result.data.heartNum);
                    }
                },
                error:function (error){
                    alert("error!");
                }
            });
        });
        //페이지 로딩 후 댓글을 불러옴

        $(window).on('load',function (){
            $.get("/comment",{boardId: boardId, page : page})
                .done(function (result){
                    $("#commentSpinner").remove()
                    $.each(result.data.comments, function (index,comment){
                        $("#commentResultDiv").append(
                            createComment(comment.commentId,comment.writer,comment.contents,comment.childNum)
                        )
                    })
                    page = result.data.page + 1
                    hasNext = result.data.hasNext
                })
                .fail(function (){
                    alert("fail!")
                })
        })
        //첫번째 로딩 후 마지막 댓글까지 스크롤 했다면 다음 댓글 불러옴
        function detectBottom() {
            var scrollTop = $(window).scrollTop();
            var innerHeight = $(window).innerHeight();
            var scrollHeight = $('body').prop('scrollHeight');
            if (scrollTop + innerHeight >= scrollHeight) {
                return true;
            } else {
                return false;
            }
        }
        $(window).on('scroll',function (){
            if(detectBottom() && hasNext){
                $("#commentResultDiv").append(`<div id='commentSpinner' class='spinner-border' role='status'></div>`)
                $.get("/comment",{boardId: boardId, page: page})
                    .done(function (result){
                        $("#commentSpinner").remove()
                        $.each(result.data.comments, function (index,comment){
                            $("#commentResultDiv").append(
                                createComment(comment.commentId,comment.writer,comment.contents,comment.childNum)
                            )
                        })
                        page = result.data.page + 1
                        hasNext = result.data.hasNext
                    })
            }
        })
    </script>
</div>
</body>
</html>
